`WWW-Authenticate` header causes error to be thrown in successful auth scenarios

### What happened?

I have an auth server (keycloak) that responds with `WWW-Authenticate: Key realm="kong"` on successful client grant requests.

However due to the handling inside `processGenericAccessTokenResponse`, a `WWWAuthenticateError` is thrown even though the response contains tokens.

https://github.com/panva/oauth4webapi/blob/f1c69500e0d2847c4ed93001a35610e04b4f9c2d/src/index.ts#L3455

I don't believe this behaviour is correct as according to [the spec (RFC 6750 Section 3)](https://datatracker.ietf.org/doc/html/rfc6750#section-3) an auth server may respond with the `WWW-Authenticate` in non-error conditions.

### Version

3.6.1

### Runtime

Deno

### Runtime Details

deno 2.3.7

### Code to reproduce

```js
// Requires an auth server as described in the issue description
import * as oidc from "npm:openid-client";

const config = await oidc.discovery(server, clientId);
console;
const tokens = await oidc.clientCredentialsGrant(config, {
  client_id: clientId,
  client_secret: clientSecret,
});
```

### Required

- [x] I have searched the issues tracker and discussions for similar topics and couldn't find anything related.
- [x] I agree to follow this project's [Code of Conduct](https://github.com/panva/oauth4webapi/blob/main/CODE_OF_CONDUCT.md)

What hints were you given that the request is successful?

I can't say this is a bug in oauth4webapi, but it's not a hill i'm willing to die on.